@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
:root {
    --main-color: #006EF0;
    --main-font: 'Roboto', sans-serif;
}

.header {
    font-family: var(--main-font);
    font-weight: 900;
}

.sub__text {
    font-family: var(--main-font);
    font-weight: normal;
}

.pol-bg {
    background-image: url('../Assets/General/pol-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

label {
    font-family: var(--main-font);
    letter-spacing: 0.05em;
    color: #1A2A2F;
    opacity: 0.75;
    font-weight: 500;
    font-size: 12px;
}

.border-b-3 {
    border-bottom-width: 3px;
}

::placeholder {
    font-family: var(--main-font);
    color: #1A2A2F !important;
    font-weight: normal;
    font-size: 14px !important;
    letter-spacing: 0.02em;
}

input {
    color: #1A2A2F !important;
    font-family: var(--main-font) !important;
    font-weight: normal;
    font-size: 14px !important;
}

span {
    font-family: var(--main-font);
    color: #001218;
}

a {
    color: var(--main-color) !important;
}

.onboarding__btn {
    background: var(--main-color);
    box-shadow: 0px 8px 8px -4px rgba(0, 141, 192, 0.125), 0px 0px 4px rgba(0, 141, 192, 0.25);
    border-radius: 16px;
}

.onboarding__btn span {
    font-family: var(--main-font);
}

.question {
    color: var(--main-color);
    font-family: var(--main-font);
}

.arrow {
    margin-left: 14rem;
    margin-right: 2rem;
}

@media screen and (max-width: 576px) and (min-width: 275px) {
    .mob__center {
        justify-content: center;
    }
}