@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
:root {
    --main-color: #006EF0;
    --main-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--main-font);
}

header {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px -4px rgba(26, 42, 47, 0.25);
    height: 72px;
}

::placeholder {
    font-family: var(--main-font);
    color: #001218 !important;
    opacity: 0.75;
    font-size: 14px
}


/* ---------------------------------
    *****PROFILE AREA***** 
------------------------------------*/

.profile_holder {
    border: 0.5px solid #D9DBDC;
    border-right: none;
    box-sizing: border-box;
    border-radius: 32px 0px 0px 32px;
}

.profile_name p {
    color: #001218;
    font-weight: bold;
}

.profile_name span {
    color: #667174;
    font-weight: 500;
}

.nav_link {
    padding-top: 11px;
    font-weight: 900;
    font-size: 18px;
    color: #1A2A2F;
    margin: 0px 7px;
}

.border_right {
    border: 1px solid #F2F3F3;
}

.back_btn {
    letter-spacing: 0.02em;
    font-weight: 900;
    font-size: 18px;
    color: #001218;
}

.profile__background {
    background: url('../img/General/profile_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

.profile_img_div {
    bottom: 99px;
    height: 0px;
}

.img_edit_btn {
    bottom: 0px;
    top: 65px;
    left: 65px;
}

.profile__name {
    color: #001218;
    letter-spacing: 0.02em;
    font-weight: 900;
    line-height: 26px;
}

.profile__location {
    color: #667174;
    font-weight: bold;
    line-height: 20px;
}

.profile__description {
    color: #001218;
    line-height: 20px;
    line-height: 20px;
}

.count {
    color: #102126;
    font-weight: 900;
}

.followed {
    color: #667174;
}

.edit_profile_btn {
    border: 1px solid #006EF0;
    border-radius: 16px;
    padding: 8px 16px;
    letter-spacing: 0.02em;
    color: #006EF0;
    font-weight: bold;
}

.posts_title {
    font-weight: 900;
    color: #001218;
}

.filter_posts {
    color: #006EF0;
    font-weight: 400;
}


/* ---------------------------------
    *****FRIEND SUGGESTIONS AREA***** 
------------------------------------*/

.friend_suggestion {
    letter-spacing: 0.02em;
    font-weight: 900;
    color: #001218;
}

.border_top {
    border-top: 1px solid #F2F3F3;
}

.border_bottom {
    border-bottom: 1px solid #F2F3F3;
}

.add_btn {
    letter-spacing: 0.02em;
    font-weight: bold;
    padding: 8px 16px;
    color: #006EF0;
    border: 1px solid #006EF0;
    border-radius: 16px;
}

.add_background {
    background: url('../img/Vectors/Ads.png');
    border-radius: 4px 4px 0px 0px;
    height: 185px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ad_company_detail {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px -4px rgba(26, 42, 47, 0.25);
    border-radius: 0px 0px 4px 4px;
}

.company_name {
    color: #667174;
    font-weight: bold;
    line-height: 20px;
}

.gclout_ad {
    color: #667174;
    font-weight: 500;
    line-height: 22px;
}


/* ---------------------------------
    *****MESSAGING AREA STYLES***** 
------------------------------------*/

.timeline_indicator {
    color: #667174;
    font-weight: 500;
    padding-top: 6px;
}

.shared_post_content {
    color: #001218;
    font-weight: 400;
}

.shareable_post {
    background: rgba(230, 231, 232, 0.2);
    border: 1px solid #E6E7E8;
    box-sizing: border-box;
    border-radius: 4px;
}

.shared_timeline {
    padding-top: 9px;
}

.comment_section {
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    color: #667174;
}

.sector_pill {
    background: #F0F1F1;
    color: #667174;
    font-weight: 500;
    font-size: 12px;
}