@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
:root {
    --main-color: #006EF0;
    --main-font: 'Roboto', sans-serif;
}

header {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px -4px rgba(26, 42, 47, 0.25);
}

::placeholder {
    font: var(--main-font);
    color: #001218 !important;
    opacity: 0.75;
    font-size: 14px
}

.profile_holder {
    border: 0.5px solid #D9DBDC;
    box-sizing: border-box;
    border-radius: 32px 0px 0px 32px;
}

.profile_name p {}

.profile_name span {}


/* .profile_holder_div {
    border-right: 1px solid #667174;
    opacity: 0.25;
} */